html {
  scroll-behavior: smooth;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  font-family: 'SF Pro Display', sans-serif;
  background-color: #0d1117;
  margin-bottom: 1%;
}

#textaudio {
  background-color: white;
  color: black;
  font-size: 5vw;
  font-weight: bold;
  margin: 0 auto;
  padding: 10px;
  width: 50%;
  text-align: center;
  mix-blend-mode: screen;
  margin-top: 5%;
  margin-bottom: 10%;
}
#container{
  position: relative;
  width: 80%;
  left: 12.5%;
}
.facts {
  text-align: center;
  color: white;
  font-size: 5vw;
  font-weight: bold;
  margin: 0 auto;
  padding: 10px;
  width: 50%;
  text-align: center;
  mix-blend-mode: screen;
  margin-top: 5%;
  margin-bottom: 10%;
}

.mostRecent {
  text-align: center;
  background-color: white;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 50%;
  mix-blend-mode: screen;
}
.allProjects{
  display: grid;
  gap: 50px;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.mostRecent h2 {
  text-align: center;
  color: black;
  font-size: 2vw;
  font-weight: bold;
}

.mostRecentElement {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.mostRecentImage {
  width: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-right: 5%;
  margin-left: 5%;
}

.mostRecentText {
  width: 50%;
  height: 100%;
  text-align: center;
  font-size: 1vw;
  font-weight: bold;
  color: black;
  margin-right: 10%;
}

.mostRecentText a {
  color: black;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.mostRecentText a:hover {
  text-decoration: underline;
}

.spacerLine {
  border: 1px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
}

ul {
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 50%;
  mix-blend-mode: screen;
}

li {
  display: block;
  background-color: black;
  margin: 0;
  float: left;
}

li a {
  display: block;
  font-size: 2vh;
  color: white;
  text-align: center;
  padding: 1.5vh 2.5vh;
  text-decoration: none;
  transition: background-color 500ms linear;
  width: 25vh;
}

li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.mainHead {
  width: 100%;
  position: fixed;
}

.un:after {
  content: "";
  width: 0px;
  height: 0.1vh;
  display: block;
  background-color: rgba(255, 255, 255, 0.9);
  transition: all 500ms linear;
}

.un:hover:after {
  width: 100%;
}
